{{#partial "contenido" }}
    <h1 class="text-center">Entidad Prestadora: {{entidadPrestadora.nombre}}</h1>
    <div class="container">
        <form method="POST" {{#if entidadPrestadora}} action="/app/entidades-prestadoras/{{entidadPrestadora.id}}/{{entidadPrestadora.representante.id}}/{{entidadPrestadora.representante.usuario.id}}" {{else}} action="/app/entidades-prestadoras" {{/if}}>
            <div class="form-row mb-3">
                <div class="form-group col-md-6">
                    <label>Nombre</label>
                    <input name="nombre" class="form-control" {{#if entidadPrestadora}} value="{{entidadPrestadora.nombre}}" {{/if}} placeholder="Nombre">
                </div>
                <div class="form-group col-md-6">
                    <label>Nombre Representante</label>
                    <input name="nombreRepresentante" class="form-control" {{#if entidadPrestadora}} value="{{entidadPrestadora.representante.nombre}}" {{/if}} placeholder="Nombre Representante">
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="form-group col-md-6">
                    <label>Apellido Representante</label>
                    <input name="apellidoRepresentante" class="form-control" {{#if entidadPrestadora}} value="{{entidadPrestadora.representante.apellido}}" {{/if}} placeholder="Apellido Representante">
                </div>
                <div class="form-group col-md-6">
                    <label>Mail Representante</label>
                    <input name="mailRepresentante" class="form-control" {{#if entidadPrestadora}} value="{{entidadPrestadora.representante.mail}}" {{/if}} placeholder="Mail Representante">
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="form-group col-md-6">
                    <label>Telofono Representante</label>
                    <input name="telefonoRepresentante" class="form-control" {{#if entidadPrestadora}} value="{{entidadPrestadora.representante.telefono}}" {{/if}} placeholder="Telefono Representante">
                </div>
                <div class="form-group col-md-6">
                    <label>Usuario</label>
                    <input name="usuario" class="form-control" {{#if entidadPrestadora}} value="{{entidadPrestadora.representante.usuario.username}}" {{/if}} placeholder="Usuario">
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>
    </div>
{{/partial}}
{{> templates/base }}