

{{#partial "contenido"}}
    <div class="container rounded bg-blue mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-left">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                    <label class="font-weight-bold">{{usuario.username}}</label>
                    <label class="text-black-50">{{persona.mail}}</label>
                </div>
            </div>
            <div class="col-md-7 border-left">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Configuracion de Perfil</h4>
                    </div>
                    <form action="/app/perfil" method="post">
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <h6 class="text-right">Nombre</h6>
                                <input type="text" class="form-control" name="nombre" placeholder="Ingrese su nombre" value="{{persona.nombre}}">
                            </div>
                            <div class="col-md-6">
                                <h6 class="text-right">Apellido</h6>
                                <input type="text" class="form-control" name="apellido" placeholder="Ingrese su apellido" value="{{persona.apellido}}">
                            </div>
                        </div>
                        <br>
                        <h5 class="text-right">Datos de Contacto</h5>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <h6 class="text-right">Numero de Teléfono</h6>
                                <input type="text" class="form-control" name="telefono" placeholder="Ingrese su teléfono" value="{{persona.telefono}}">
                            </div>
                            <div class="col-md-12 pt-2">
                                <h6 class="text-right">Mail</h6>
                                <input type="text" class="form-control" name="mail" placeholder="Ingrese su mail" value="{{persona.mail}}">
                            </div>
                        </div>

                        <h5 class="text-right">Configuración de Notificaciones</h5>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <h6 class="text-right">Medio Notificación</h6>
                                <select class="form-control" name="medio_notificacion">
                                    <option value="1">Mail</option>
                                    <option value="2">Teléfono</option>
                                </select>
                            </div>
                            <div class="col-md-12 pt-2">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="text-right">Momento de Notificación</h6>
                                        <select class="form-control" name="tiempo_notificacion">
                                            {{#if horarioActual}}
                                                <option value="2">En un horario fijo</option>
                                                <option value="1">En el momento del incidente</option>
                                            {{else}}
                                                <option value="1">En el momento del incidente</option>
                                                <option value="2">En un horario fijo</option>
                                            {{/if}}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <h6 class="text-right">Horario de Notificación</h6>
                                        <input multiple type="time" class="form-control" name="hora_noti" value="{{horarioActual}}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <h5 class="text-right">Ubicación</h5>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <h6 class="text-right">Provincia</h6>
                                <select class="form-control" name="provincia" id="provincias-select">
                                    {{#if persona.provincia}}
                                        <option value="{{persona.provincia.id}}">{{persona.provincia.nombre}} </option>
                                    {{/if}}
                                    {{#each provincias}}
                                        <option value="{{this.id}}">{{this.nombre}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-md-12 pt-2">
                                <h6 class="text-right">Municipio</h6>
                                <select class="form-control" name="municipio" id="municipios-select">
                                    {{#if persona.municipio}}
                                        <option value="{{persona.municipio.id}}">{{persona.municipio.nombre}}</option>
                                    {{/if}}
                                </select>
                            </div>
                            <div class="col-md-12 pt-2">
                                <h6 class="text-right">Localidad</h6>
                                <select class="form-control" name="localidad" id="localidades-select">
                                    {{#if persona.localidad}}
                                        <option value="{{persona.localidad.id}}">{{persona.localidad.nombre}}</option>
                                    {{/if}}
                                </select>
                            </div>
                        </div>

                        <div class="mt-5 text-center">
                            <input type="submit" value="Guardar Perfil" class="btn btn-primary">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script src="/js/ubicacion.js"></script>
{{/partial}}

{{> templates/base}}