{{#partial "contenido"}}

    <h1 class="text-center">Lista de Entidades</h1>

    <div style="max-width: 800px; margin: 0 auto; padding: 20px;">
        <table class="table" border="groove">
            <thead>
            <tr class="table-primary">
                <th style="text-align: center;"> Nombre </th>
                <th style="text-align: center;"> Tipo de entidad</th>
                <th style="text-align: center;"> Localidad</th>
                <th style="text-align: center;"> Municipio</th>
                <th style="text-align: center;"> Provincia</th>

            </tr>
            </thead>

            <tbody>
            {{#each entidades}}
                <tr>
                    <td align="center">{{this.nombre}}</td>
                    <td align="center">{{this.tipoEntidad.nombre}}</td>
                    <td align="center">{{this.localidad.nombre}}</td>
                    <td align="center">{{this.municipio.nombre}}</td>
                    <td align="center">{{this.provincia.nombre}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>

{{/partial}}
{{> templates/base}}