{{#partial "contenido" }}
    <h1 class="text-center">Miembro: {{miembro.persona.nombre}}</h1>
    <div class="container">
        <form method="POST" {{#if miembro}} action="/app/organismos/{{miembro.id}}/{{miembro.persona.id}}/{{miembro.persona.usuario.id}}" {{else}} action="/app/comunidades" {{/if}}>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Nombre</label>
                    <input name="nombre" class="form-control" {{#if miembro}} value="{{miembro.nombre}}" {{/if}} placeholder="Nombre">
                </div>
                <div class="form-group col-md-6">
                    <label>Nombre persona</label>
                    <input name="nombreRepresentante" class="form-control" {{#if miembro}} value="{{miembro.persona.nombre}}" {{/if}} placeholder="Nombre persona">
                </div>
                <div class="form-group col-md-6">
                    <label>Apellido persona</label>
                    <input name="apellidoRepresentante" class="form-control" {{#if miembro}} value="{{miembro.persona.apellido}}" {{/if}} placeholder="Apellido persona">
                </div>
                <div class="form-group col-md-6">
                    <label>Mail persona</label>
                    <input name="mailRepresentante" class="form-control" {{#if miembro}} value="{{miembro.persona.mail}}" {{/if}} placeholder="Mail persona">
                </div>
                <div class="form-group col-md-6">
                    <label>Telofono persona</label>
                    <input name="telefonoRepresentante" class="form-control" {{#if miembro}} value="{{miembro.persona.telefono}}" {{/if}} placeholder="Telefono persona">
                </div>
                <div class="form-group col-md-6">
                    <label>Usuario</label>
                    <input name="usuario" class="form-control" {{#if miembro}} value="{{miembro.persona.usuario.username}}" {{/if}} placeholder="Usuario">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
{{/partial}}
{{> templates/base }}
