{{#partial "contenido"}}
    <h1 class="d-flex justify-content-center">Resolucion de Incidente</h1>

    <div class="container text-center">
        <p>Seguro que quieres cerrar el incidente del servicio <b>{{incidente.getNombreServicio}} </b> de el/la <b>{{incidente.getNombreTipoEstablecimiento}} {{incidente.getNombreEstablecimiento}}</b> de la entidad {{incidente.getNombreEntidad}} ?</p>
    </div>

    <div class="container-fluid d-flex justify-content-around">
        <div>
            <form action="/app/incidentes/cerrar" method="post">
                <input type="text" name="incidenteId" value="{{incidente.id}}" class="d-none">
                <input type="text" name="boton" value="cancelar" class="d-none">
                <input type="submit" value="No, todavia sigue averiado" class="btn btn-secondary">
            </form>
        </div>
        <div>
            <form action="/app/incidentes/cerrar" method="post">
                <input type="text" name="incidenteId" value="{{incidente.id}}" class="d-none">
                <input type="text" name="boton" value="cerrar" class="d-none">
                <input type="submit" value="Si, el incidente se encuentra resuelto" class="btn btn-danger">
            </form>
        </div>
    </div>
{{/partial}}

{{> templates/base}}