{{#partial "contenido" }}
    <div>
        <h2 class="text-center">Entidades controladas por la Entidad Prestadora: {{entidad-prestadora.nombre}}</h2>
    </div>
    <div style="max-width: 800px; margin: 0 auto; padding: 20px;">
        <table class="table" border="groove">
            <thead>
            <tr class="table-primary">
                <th>Nombre</th>
                <th>Tipo entidad</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each entidades}}
                <tr>
                    <td>{{ this.nombre }}</td>
                    <td>{{ this.tipo.nombre }}</td>
                    <td align="center">
                        <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#confirmEdit{{this.id}}">Eliminar</a>

                        <div class="modal fade" id="confirmEdit{{this.id}}" tabindex="-1" role="dialog" aria-labelledby="confirmEditLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmEditLabel">Confirmación</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Seguro que quieres eliminar la entidad {{this.nombre}} de la entidad prestadora {{entidad-prestadora.nombre}}?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <form method="post" action="/app/entidades-prestadoras/entidades/sacar">
                                            <input type="text" name="entidadId" value="{{this.id}}" class="d-none">
                                            <input type="text" name="entidadPrestadoraId" value="{{entidad-prestadora.id}}" class="d-none">
                                            <input type="submit" value="Eliminar" class="btn btn-danger">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <div class="col-md-9 offset-md-9">
            <a class="btn btn-primary" href="/app/entidades-prestadoras/{{entidad-prestadora.id}}/entidades/agregar">Agregar Nueva Entidad</a>
        </div>
    </div>>
{{/partial}}
{{> templates/base }}